/* variables */
:root {
    --primary: #3DBECF;
    --secondary: #F11212;
    --tertiary: #4393e8;
    --background: #EBF0F0;
    --primary-color: #FFFFFF;
    --primary-black: #000000;
    --secondary-color: #F8F8F8;
    --tertiary-color: #212529;
    --primary-hover: #1b9aab;
    --secondary-hover: #bd0d0d;
    --tertiary-hover: #2379d4;
    --input-border: #e9eef3;
    --secondary-border: #C4C4C4;
    --tertiary-border: #dee2e6;
}

/* unauthorized */
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 100px 30px;
}
.position-r {
    position: relative;
}
.code {
    border-right: 3px solid;
    font-size: 55px;
    padding: 0 10px 0 10px;
    text-align: center;
} 
.message {
    font-size: 40px;
    text-align: center;
}
.go-back-wrapper {
    display: flex;
    justify-content: center;
}
.go-back {
    padding: 10px;
    border-radius: 10px;
    background: var(--primary-hover);
    font-size: 2em;
    color: var(--primary-color);
    cursor: pointer;
}
  
/* reset */
[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ti-check:before {
    content: "✓";
}
.ti-close:before {
    content: "✕";
}
li {
    list-style: none;
}
body, a, ul, li, p {
    text-decoration: none;
    padding: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 300;
}
.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal.show {
    display: flex !important;
    align-items: center;
}
.modal-header .close {
    position: relative;
    width: 45px;
    height: 45px;
    top: 0;
    right: 0;
    background: #f00;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.submit-button input.button-later {
    padding: 10px;
}
.hide {
    display: none;
}

/* base styles */
.topic-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
body {
    overflow-x: hidden;
    background: var(--background);
    font-family: 'Montserrat';
}
body, .base {
    min-height:100vh;
}
.errors {
    margin-left: 15px;
    font-size: .8em;
    color: var(--secondary);
}
.tagify{    
    width: 100%;
    max-width: 700px;
}
.button, .button-later, .button-save {
    color: var(--primary-color);
    border-radius: 5px; 
    border: none;
}
.button-save {
    background: var(--primary);
}
.button-later {
    background: var(--tertiary);
}
.button {
    background: var(--secondary);
}
.button-save:hover {
    background: var(--primary-hover);
}
.button-later:hover {
    background: var(--tertiary-hover);
}
.button:hover {
    background: var(--secondary-hover);
}
.button:hover, .button-save:hover, .button-later:hover {
    color: var(--primary-color);
}
input[type=submit],
a[type=button], a,
button {
    text-decoration: none;
    border: none;
    color: var(--primary-color);
}
input[type=submit]:hover,
a[type=button]:hover, a:hover,
button:hover {
    color: var(--primary-color);
}
input[type=submit]:focus,
input[type=text]:focus,
input[type=text].form-control:focus, 
input[type=password]:focus,
input[type=password].form-control:focus, 
a[type=button]:focus,
a:focus,
button:focus {
    box-shadow: none;
    outline: none;
}
.show {
    display: revert;
}
.on, .in {
    display: flex !important;
}

/* footer */
footer {
    padding: 10px 0;
    background-color: #f8f8f8;
    width: 100%;
    text-align: center;
}

p.copyright {
    margin: 1px 0 0;
}

/* admin-table */
.table.mobile-table thead {
    display: none;
}
.table.mobile-table th, .table.mobile-table td {
    border-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 12px;
}
.table.mobile-table tr {
    border-bottom: 1px solid black;
    display: block;
    margin-bottom: 2px;
    padding: 20px;
}
.table.mobile-table td:before, .table.mobile-table th:before{
    content: attr(data-label);
    display: inline-block;
    padding-right: 5px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid var(--tertiary-border);
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color);
}
.searchable {
    width: 100%;
    background: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.searchable input#searchable {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #dae0e5;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

/* pagination */
.pagination0nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 1rem;
    border-radius: 0.6rem;
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}
.pagination {
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    margin-bottom: 0;
}
.pagination-range i {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--tertiary-color);
}
.page__numbers, .page__btn, .page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
    font-size: 0.8rem;
    cursor: pointer;
}
.page__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--greyLight);
    cursor: initial;
}
.page__numbers {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.4rem;
}
.page__numbers:hover {
    color: var(--secondary);
}
.page__numbers.active {
    color: #fff;
    background: var(--primary);
    font-weight: 600;
    border: 1px solid var(--primary);
}
.page__btn svg path {
    fill: var(--tertiary-color);
    pointer-events: none;
}
.page__btn.disabled svg path {
    fill: #adb5bd;
    pointer-events: initial;
}
.page__btn:hover svg path {
    fill: var(--secondary);
}
.page__btn.disabled:hover svg path {
    fill: #adb5bd;
}

/* general-styles */
.content-wrapper {
    background: var(--primary-color);
}
#toTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--secondary);
    color: var(--primary-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#toTopBtn:hover {
    background-color: var(--primary);
}
.col-sm-12 {
    margin-bottom: 20px;
}
.page-wrapper {
    padding: 25px;
}
.back {
    height: 32px;
    width: 128px;
    left: 25px;
    top: 120px;
    border-radius: 0px;
}
.back span {
    height: 17px;
    width: 36px;
    left: 78px;
    top: 127px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}
.back svg {
    position: relative;
    right: 0;
}
.page-header {
    height: 62px;
    background: var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}
.page-header .header-text {
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    line-height: 32px;
    display: flex;
    align-items: center;
}
.table-hover tbody tr:hover {
    background: var(--tertiary);
    color: var(--primary-color);
}
.table-hover tbody tr:hover td a {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.buttons-wrapper {
    display: flex;
}
.buttons-wrapper a, .buttons-wrapper button {
    height: 37px;
    width: 121px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color);
    line-height: 37px;
    text-decoration: none;
    margin-right: 10px;
}
.button-save svg {
    height: 20px;
    margin-right: 4px;
}
.button-print {
    background: #cd63e6;
    border: 1px solid #cd74da;
    color: #ffffff;
}
.button svg {
    height: 20px;
    margin-right: 4px;
    width: 15px;
    border-radius: 0px;
}
.table-wrapper {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 24px;
    max-height: 415px;
    width: 100%;
    border-radius: 8px;
    background: var(--primary-color);
}
caption {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
}

/* styles for screens below 768px */
.content-wrapper {
    height: auto;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* navbar */
.navbar {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    height: 58px;
}
.left-navbar {
    display: flex;
    align-items: center;
}
.navbar .page-label {
    color: var(--secondary-border);
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
}
.navbar .page-label span {
    color: #212529;
}
.navbar-brand {
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.navbar-nav {
    flex-direction: unset;
    align-items: center;
}
.navbar-nav .notifications {
    padding-right: 20px;
    cursor: pointer;
}
.navbar-nav .notifications .savedLists {
    position: absolute;
    z-index: 100;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 200px;
    background: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--tertiary-border);
    padding: 10px;
    left: -45px;
    top: 42px;
    display: none;
}
.navbar-nav .notifications .savedLists span {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--tertiary-border);
    width: 100%;
}
.info-number {
    float: none;
    min-width: 22px;
    min-height: 22px;
    line-height: 20px;
    font-size: 13px;
    margin-left: -13px;
    margin-top: 5px;
    font-weight: 300;
    border-radius: 50%;
    padding: 0px;
}
.info-number.cart {
    background-color: var(--primary-color);
    color: rgb(240 18 18);
    position: absolute;
    font-size: 12px;
    margin-top: 14px;
    border: 1px solid var(--tertiary-border);
}
.nav-item {
    display: flex;
    align-items: center;
}
.nav-item span {
    border: 1px solid var(--primary-black);
    height: 30px;
    width: 30px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
}
.nav-item a {
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;
    padding-left: 3px;
}
.nav-list {
    background: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: auto;
    border: 14px solid #fff;
    border-radius: 16px;
    box-shadow: 0 6px 30px -10px #f4bd8e;
}
.nav-item .nav-sub-list .nav-sub-sect {
    position: relative;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: background 299ms ease, opacity 199ms ease;
    text-align: center;
}
.nav-sub-sect a, .nav-item a {
    text-decoration: none;
    color: #333;
    transition: color 299ms ease;
}
.nav-icon {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.nav-icon .url {
    margin-right: 5px;
}
.nav-item {
    opacity: 1;
}
.nav-sub-list {
    border-radius: 16px;
    position: absolute;
    background: #fff;
    width: auto;
    padding: 15px;
    top: 50px;
    right:25px;
    box-shadow: 0 6px 30px -10px #f4bd8e;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity 299ms ease 199ms, transform 0ms ease;
}
.nav-sub-sect {
    text-align: left;
}
.nav-sub-sect:hover .sub-url {
    color: #2e291e;
    transition: color 299ms ease;
}
.nav-sub-list-on {
    opacity: 1;
    transform: scale(1);
    transition: opacity 299ms ease 199ms, transform 0ms ease;
    z-index: 2;
}
.chevron-up {
    transform: rotate(0);
    transition: color 299ms ease, transform 299ms ease;
}
.op {
    opacity: 1;
    transition: opacity 299ms ease;
}
.less-op {
    opacity: 0.5;
    transition: opacity 299ms ease;
}
.less-op:hover {
    opacity: 1;
    transition: opacity 299ms ease;
}
line {
    stroke-width: 5px;
}
.arrow {
    transform: translatey(0px);
    transition: all 199ms ease;
}
.line-1 {
    transform-origin: 17% 48%;
    transform: rotate(40deg) translatex(6px);
    stroke: #333;
    transition: all 199ms ease;
}
.line-2 {
    transform-origin: 83% 48%;
    transform: rotate(-40deg) translatex(-6px);
    stroke: #333;
    transition: all 199ms ease;
}
.svg-arrow {
    transform: scale(1.4);
}
.arrow-active {
    transform: translatey(2px);
    transition: all 199ms ease;
}
.line-1-active {
    transform-origin: 17% 40%;
    transform: rotate(0deg) translatex(3px);
    stroke: #333;
    transition: all 199ms ease;
}
.line-2-active {
    transform-origin: 83% 40%;
    transform: rotate(0deg) translatex(-3px);
    stroke: #333;
    transition: all 199ms ease;
}

/* sidebar */
.sidebar__navbar.active {
    width: 250px !important;
    left: 0;
}
.sidebar__navbar {
    height: 100%;
    position: fixed;
    background-color: #4393e8;
    box-shadow: 0px 0px 20px 1px #cacaca;
    width: 0;
    left: -100%;
    z-index: 999;
    transition: 0.5s ease;
}
.sidebar__navbar .navbar {
    height: 58px;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 0;
    border-bottom: 1px solid var(--secondary-border);
}
a.brand__sidebar {
    color: #75242c;
    font-size: 20px;
    text-decoration: none;
}
.sidebar__list--menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar__list--menu li {
    margin-bottom: 10px;
}
.sidebar__list--menu li.active {
    background-color: #ffffff26;
    border-radius: 33px;
}
.sidebar__list--menu li a {
    padding: 15px 20px;
    color: white;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}
.sidebar__list--menu li a:hover {
    background-color: #ffffff26;
    border-radius: 33px;
}
.sidebar__list--menu li ul {
    margin-left: 30px;
}
.sidebar__list--menu li ul li a {
    padding: 10px 20px;
}
.sidebar__navbar.active ~ .sidebar__content {
    margin-left: 250px;
    transition: 0.5s ease;
}

/* login */
.content-wrapper .label-wrapper {
    height: 34px;
    padding-left: 0;
    width: 100%;
    margin-top: 30px;
}
.content-wrapper .label-wrapper h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: var(--primary-black);
}
.content-wrapper .message-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 25px;
}
.content-wrapper .message-wrapper .login-message-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 0;
    top: 0;
}
.content-wrapper .message-wrapper .login-message {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: var(--primary-black);
}
.content-wrapper .message-wrapper .login-message span {
    color: var(--primary);
}
.content-wrapper .message-wrapper .action-message-wrapper {
    width: 100%;
    height: 16px;
    margin-left: 0;
}
.content-wrapper .message-wrapper .action-message {
    font-size: 11px;
    color: var(--primary-black);
}
.content-wrapper .login-form {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-wrapper .login-form .login-form-field {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.content-wrapper .login-form .login-form-field .input0field {
    width: 100%;
    height: 57px;
    background: var(--secondary-color);
    border-radius: 30px;
    border: 1px solid var(--input-border);
}
.content-wrapper .login-form .input0submit {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: var(--primary-color);
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background: var(--primary);
    border-radius: 40px;
    border: none;
    outline: none;
    text-align: center;
    height: 100%;
}
.content-wrapper .login-form .submit-button.login-form-field {
    width: 50%;
    height: 57px;
    align-items: center;
}
.content-wrapper .login-form .input0submit:hover {
    background: var(--primary-hover);
}
.content-wrapper .login-form .submit-button svg {
    position: relative;
    right: 45px;
}
.content-wrapper .login-form .input0submit:hover ~ svg {
    right: 30px;
}

/* admin-panel */
.form-wrapper.admin-panel {
    background: var(--secondary-color);
    width: auto;
}
.admin-panel .content-wrapper {
    padding: 16px 30px;
}
.content-wrapper .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-wrapper .panel-header a {
    padding: 10px;
    border-radius: 10px;
}
.content-wrapper .panes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
    margin: 20px;
    border: 1px solid #dae0e5;
    background: var(--primary-color);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--primary-black);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.content-wrapper .top-pane, .content-wrapper .bottom-pane {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content-wrapper .panes span.pane-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 1px solid var(--secondary-border);
}
.content-wrapper .panes span.pane-svg svg {
    width: 30px;
    height: 30px;
}
.content-wrapper .panes span.pane-word {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    align-self: center;
}

/* new-transaction */
.page-wrapper .page-header .new-sale {
    width: 100%;
    height: 37px;
    border-radius: 8px;
    background: var(--secondary-color);
    border: 1px solid var(--secondary-border);
    font-size: 13px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    padding-right: 35px;
    margin-right: 0px;
}
.page-wrapper .page-header .select-product, .page-wrapper .page-header .select-supplier {
    display: none;
    position: absolute;
    width: 70%;
    height: 100px;
    top: 50px;
    border-radius: 8px;
    border: 1px solid var(--secondary-border);
    overflow-x: auto;
}
.page-wrapper .page-header .select-product option {
    font-size: 14px;
    padding: 5px;
}
.page-wrapper .page-header .select-product option:first-child {
    border-bottom: 1px solid #dee2e6;
}
.page-wrapper .page-header .search-bar {
    display: flex;
    width: 100%;
    align-items: center;
}
.page-wrapper .page-header .search-bar svg {
    position: absolute;
    right: 186px;
}
.table tbody td a {
    width: 45px;
    border-radius: 7px;
    border: 1px solid var(--primary-black);
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #383232;
    text-decoration: none;
}
.bag-item, .received-item {
    width: 100%;
}
#bag-item .load-msg {
    display: none;
    margin: 20px;
    padding-left: 5px;
    width: 100%;
    justify-content: center;
}
#bag-item .load-msg h4 {
    font-size: 1em;
}
.table-wrapper .row .cart-header {
    margin: 20px;
    padding-left: 5px;
}
.table-wrapper .row .cart-header h3 {
    font-size: 1.5em;
    font-weight: 500;
}
.table-wrapper .col-sm-12 {
    margin-bottom: 0px;
}
.table-wrapper .card {
    margin: 10px;
    box-shadow: 0px 1px 6px 1px rgba(0,57,20,0.1);
    border: none;
    border-radius: 12px;
}
.grid-1 {
    display: flex;
    flex-wrap: wrap;
}
.grid-1 h5, .grid-1 span {
    width: 100%;
    font-size: 1em;
}
.grid-1 span#price {
    font-size: 1em;
    font-weight: 600;
    color: #17a2b8;
}
.grid-1 span#stock {
    font-size: 0.8em;
    color: var(--secondary);
}
.grid-2, .grid-4 {
    display: flex;
    align-items: center;
}
.grid-2-inner {
    display: flex;
    justify-content: center;
}
.grid-2-inner span {
    padding: 10px;
    border: 1px solid #dde8f3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: #dde8f3;
}
.grid-2-inner span svg path {
    fill: #3174bd;
}
.grid-2-inner input, .grid-2-inner a {
    width: 40px;
    text-align: center;
    border: none;
}
.grid-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.grid-3 input {
    width: 100%;
    text-align: left;
    border: none;
}
.grid-3 span.disc.displayed {
    font-size: 0.8em;
    border-radius: 5px;
    border: 1px solid #e85ad5;
    padding: 3px;
    background: #e85ad5;
    color: var(--primary-color);
}
.grid-1, .grid-2, .grid-3 {
    margin-bottom: 20px;
}
.grid-4 svg path {
    fill: red;
}
.right-side {
    max-height: 500px;
    background: var(--primary-color);
    border-radius: 8px;
}
.right-side .right-inner {
    height: 500px;
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.right-side .right-values {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dee2e6;
}
.right-values, .form-control[readonly]{
    background: var(--primary-color);
    border: none;
}
.right-values label, .right-values input {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}
.right-values input {
    text-align: right;
}
.right-values [for="total"] {
    color: var(--secondary);
    font-size: 20px;
}
.right-values [for="total"] ~ input {
    font-size: 20px;
}
.right-values select {
    width: 100px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
.right-side .right-values.ref {
    display: none;
}
.ctrl-btns {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    background: var(--primary-color);
    height: 50px;
    border-radius: 10px;
    align-items: center;
}
.ctrl-btns .buttons-wrapper {
    padding-right: 20px;
}

/* receiving */
.received-item .grid-1 span {
    font-size: 0.87em;
    color: #495057;
    font-weight: 300;
}
.received-item .grid-1 span a {
    border-bottom: dashed 1px #0088cc;
    color: #495057;
    font-size: 0.87em;
}

/* create-product */
.table-form {
    padding: 1.5rem;
    border-width: 0.2rem;
    height: auto;
    max-height: 100% !important;
}
.table-form label {
    font-size: 14px;
}
.table-form .select-brand, .table-form .select-employee {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    display: none;
}
.discount {
    display: none;
}

/* dashboard */
.dashboard .page-wrapper .dashboard-header {
    margin-bottom: 20px;
}
.dashboard .page-wrapper .page-header.row {
    margin-right: 0;
    margin-left: 0;
}
.dashboard .page-wrapper .page-header .shop-stats {
    background-color: #FFFFFF;
    position: relative;
    min-height: 107px;
    padding: 3px;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: table;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.dashboard .page-wrapper .page-header .shop-stats .stats-inner {
    float: left;
    padding-top: 5px;
    width: 100%;
}
.dashboard .page-wrapper .page-header .shop-stats .stats-inner h4 {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 24px;
}
.dashboard .page-wrapper .page-header .shop-stats .stats-inner h3 {
    font-size: 25px;
    font-family: 'Helvetica Neue', 'Nunito', sans-serif;
    font-weight: 300;
    color: var(--tertiary-color);
}
.dashboard .page-wrapper .page-header .shop-stats .stats-inner .sales-value,
.dashboard .page-wrapper .page-header .shop-stats .stats-inner .cost-value  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.dashboard .page-wrapper .page-header .shop-stats .stats-inner .sales-value svg path {
    fill: var(--secondary);
}
.dashboard .page-wrapper .page-header .shop-stats .stats-inner .cost-value svg path {
    fill: var(--tertiary);
}
.dashboard .page-wrapper .page-header a.list-group-item {
    color: #555;
    font-weight: 300;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.dashboard .page-wrapper .page-header a.list-group-item i {
    font-size: 20px;
    padding-right: 20px;
    color: #000;
    border-right: 1px solid #d7dce5;
    margin-right: 20px;
}
.dashboard .page-wrapper .page-header a.list-group-item svg path {
    fill: var(--tertiary-color);
}
.dashboard .page-wrapper .table-wrapper {
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
    max-height: none;
}
.dashboard .page-wrapper .table-wrapper .chart-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.dashboard .page-wrapper .table-wrapper .nav-tabs {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}

/* sales-report */
.page-wrapper .page-header .period-filter {
    display: flex;
    align-items: center;
}

/* receiving */
.grid-2-inner a {
    text-decoration: none;
    color: var(--primary-black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    min-width: 40px;
    width: auto;
}
.check-supplier .page-header {
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
}
.check-supplier .page-header .supplier-info {
    width: 100%;
    padding: 7px 0px;
    min-height: 80px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: var(--primary-color);
}
.check-supplier .page-header .buttons-wrapper {
    margin: 0 !important;
}
.check-supplier .page-header #searchBar .new-sale {
    margin: 0;
}
.check-supplier .page-header .supplier-info .details {
    padding: 0px;
    padding-left: 30px;
    text-align: left;
    padding-top: 10px;
    position: relative;
}
.check-supplier .page-header .supplier-info .details .name {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    display: inline-flex;
    text-transform: capitalize;
    width: 100%;
}
.check-supplier .page-header .supplier-info .details .number {
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    width: 100%;
}
.check-supplier .page-header .details span p {
    margin-bottom: 0;
    padding-left: 10px;
    font-weight: 300;
}
.check-supplier .buttons-wrapper {
    width: 7%;
}
.check-supplier .buttons-wrapper button {
    margin-right: 0;
    line-height: 9px;
}
.check-supplier .buttons-wrapper .button-later svg {
    margin-right: 0;
}
.check-supplier .buttons-wrapper .button-later svg path {
    fill: var(--primary-color);
}
#submit-received .ctrl-btns {
    background: none;
}

/* permission */
.page-wrapper.permissions .table-wrapper {
    max-height: unset;
}

/* styles for specific screen ranges */
@media(max-width: 1024px) {
    /* sidebar */
    .sidebar__navbar.active span {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 40;
        background-color: #0808081f;
    }
    .sidebar__navbar div {
        z-index: 99;
    }

    /* navbar */
    .sidebar-menu {
        width: 40px;
        height: 40px;
        background-color: #f8f9fa;
        font-size: 18px;
        border-radius: 5px;
        margin-right: 1rem;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:768px) {
    /* generat admin layout base styles */
    .sidebar__content .page-wrapper .page-header {
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        align-items: normal;
        background: none;
    }
    .sidebar__content .page-wrapper #submit-transaction .page-header {
        flex-wrap: unset;
    }
    .sidebar__content .page-wrapper .page-header .header-text {
        margin: 10px;
        width: auto;
        text-align: left;
    }
    .sidebar__content .page-wrapper .page-header .buttons-wrapper {
        margin: 10px;
        display: table;
    }
    .sidebar__content .check-supplier .page-header .buttons-wrapper {
        display: flex;
        width: 100%;
    }
    .sidebar__content .check-supplier .page-header .buttons-wrapper button {
       margin-right: 0;
       line-height: 0;
    }
    .sidebar__content .check-supplier .page-header .buttons-wrapper .button svg {
       margin-right: 0;
    }
    .sidebar__content .page-wrapper .page-header .buttons-wrapper a {
        margin-bottom: 10px;
    }

    /* new-product */
    .sidebar__content .newProduct .page-wrapper .page-header {
        height: initial;
        flex-wrap: unset;
        justify-content: space-between;
    }
    .sidebar__content .newProduct .page-wrapper .page-header .header-text {
        width: auto;
        text-align: center;
    }
    .sidebar__content .newProduct .page-wrapper .page-header .buttons-wrapper a {
        margin-bottom: 0;
        margin-right: 0;
    }
    .sidebar__content .newProduct .page-wrapper .table-wrapper {
        max-height: 100%;
        padding: 20px;
    }
}

@media(max-width: 600px) {
    /* login */
    .content-wrapper .message-wrapper .login-message {
        font-size: 20px;
    }
    .content-wrapper .login-form .login-form-field .input0field {
        font-size: 0.8em;
    }
    .content-wrapper .login-form .submit-button.login-form-field {
        width: 100%;
        display: inline-block;
    }
    .content-wrapper .login-form .input0submit ~ svg {
        display: none;
    }
    .content-wrapper .login-form .input0submit {
        font-size: 18px;
    }

    /* admin-panel */
    .content-wrapper .panes span.pane-word {
        font-size: 11px;
    }

    /* new-transaction */
    #submit-transaction .table thead th, #submit-transaction .table tbody td {
        font-size: 12px;
    }
}

@media(max-width: 440px) {
    /* new-product */
    .sidebar__content .newProduct .page-wrapper .page-header {
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .sidebar__content .newProduct .page-wrapper .page-header .header-text {
        width: 100%;
    }
    .sidebar__content .newProduct .page-wrapper .page-header .buttons-wrapper a {
        margin-bottom: 10px;
    }
}

@media(max-width: 414px) {
    .url, .sub-url {
        font-size: 14px;
   }
    .nav-item {
        min-width: 59px;
        padding: 10px;
   }
}

@media(min-width: 600px) {
    /* login */
    .content-wrapper .message-wrapper .login-message {
        font-size: 34px;
    }
    .content-wrapper .message-wrapper .action-message {
        font-weight: bold;
        font-size: 14px;
    }
    .content-wrapper .login-form .login-form-field {
        width: 70%;
    }

    /* admin table */
    .table thead {
        background: var(--primary);
    }
    .transaction_details .table thead {
        background: var(--secondary-color);
        /* background: #f8f9fa; */
    }
    .table tbody td, .table tbody th {
        font-size: 12px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
    .table tbody th {
        color: rgba(0,0,0,.9);
        font-weight: bolder;
        font-size: 13px;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background: var(--background);
        color: var(--primary-black);
    }
    .table-hover tbody tr:hover td a {
        color: #383232;
        border-color: var(--primary-black);
    }
    .table tbody td a {
        width: 45px;
        border-radius: 7px;
        border: 1px solid var(--primary-black);
        font-size: 11px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: #383232;
        text-decoration: none;
    }

    /* new transaction */
    .grid-1, .grid-2, .grid-3 {
        margin-bottom: 0;
    }
    .grid-3 {
        justify-content: center;
    }
    .grid-3 input {
        text-align: center;
    }

    /* receiving */
    .check-supplier .page-header .supplier-info {
        width: 50%;
        margin: 20px;
    }
    .check-supplier .page-header .supplier-info .details .name, 
    .check-supplier .page-header .supplier-info .details .number {
        font-size: 16px;
    }
    .check-supplier .page-header .buttons-wrapper {
        margin: 10px;
    }
}

@media(min-width: 768px) {
    /* dashboard */
    .dashboard .page-wrapper .page-header {
        height: 100%;
        margin-bottom: 20px;
    }
    .dashboard .page-wrapper .page-header .shop-stats {
        border: 1px solid #d2dce6;
        box-shadow: none;
        border-radius: 6px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .dashboard .page-wrapper .page-header .list-group {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    /* new transaction */
    .page-wrapper .page-header .new-sale {
        margin-right: 20px;
    }
}

@media(min-width: 1024px) {
    /* admin-panel */
    .content-wrapper .top-pane, .content-wrapper .bottom-pane {
        flex-wrap: unset;
    }
    .content-wrapper .panes {
        width: 150px;
        height: 180px;
        align-content: space-around;
    }
    .content-wrapper .panes span.pane-word {
        text-align: center;
        align-self: center;
        width: 100%;
    }

    /* sidebar */
    .sidebar__navbar span {
        position: fixed;
        left: -100%;
        transition: 0.5s ease;
    }

    /* navbar */
    .sidebar-menu {
        display: none;
    }
}