.modal {
    z-index: 1050 !important;
}

html, body {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

/* base */
.base {
    /* position: relative; */
    height: 100%;
    background: #EBF0F0;
    /* display: flex;
    flex-wrap: wrap; */
}

/* navbar */
.navbar-brand {
    font-family: 'Montserrat';
    font-size: 21px;
    font-style: normal;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.nav-item {
    display: flex;
    align-items: center;
}
.nav-item span {
    border: 1px solid #000000;
    height: 40px;
    width: 40px;
    border-radius: 60px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
}

/* login */
@media screen and (min-width: 640px) {
    .form-wrapper {
        position: relative;
        width: 500px;
        height: auto;
        background: #FFFFFF;
        border-radius: 20px;
        margin: auto;
    }
    .label-wrapper {
        height: 34px;
        padding-left: 34px;
        width: 100%;
        margin-top: 30px;
    }
    .label-wrapper h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
    }
    .message-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .message-wrapper .login-message-wrapper {
        position: relative;
        width: 100%;
        height: 40px;
        margin-left: 34px;
        top: 0;
    }
    .message-wrapper .login-message {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 37px;
        color: #000000;
    }
    .message-wrapper .action-message-wrapper {
        width: 100%;
        height: 16px;
        margin-left: 34px;
        display: flex;
    }
    .message-wrapper .action-message {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        color: #000000;
    }
    .login-message span {
        color: #3DBECF;
    }
    .login-form {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .login-form-field {
        display: flex;
        justify-content: center;
    }
    .input0field {
        width: 361px;
        height: 57px;
        background: #F8F8F8;
        border-radius: 30px;
        border: 1px solid #F8F8F8;
    }
    .input0submit {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        width: 119px;
        padding-left: 25px;
        padding-right: 0;
        height: 40px;
        background: #3DBECF;
        border-radius: 40px;
        border: none;
        outline: none;
        text-align: left;
    }
    input[type=text]:focus,
    input[type=text].form-control:focus, 
    input[type=password]:focus,
    input[type=password].form-control:focus, a[type=button]:focus {
        box-shadow: none;
        outline: none;
    }
    .submit-button {
        width: 208px;
        padding-left: 69px;
    }
    .submit-button svg {
        position: relative;
        right: 45px;
    }
    .input0submit:hover ~ svg {
        right: 30px;
    }

    /* create product */
    .discount {
        display: none;
    }
    .show {
        display: block;
    }

    /* general */
    .page-wrapper {
        padding: 25px;
    }
    .back {
        height: 32px;
        width: 128px;
        left: 25px;
        top: 120px;
        border-radius: 0px;
    }
    .back span {
        height: 17px;
        width: 36px;
        left: 78px;
        top: 127px;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    .back svg {
        position: relative;
        right: 0;
    }
    .page-header {
        height: 62px;
        background: #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
    }
    .page-header .header-text {
        height: 32px;
        width: 181px;
        font-family: 'Montserrat';
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        line-height: 32px;
    }
    .buttons-wrapper a {
        height: 37px;
        width: 121px;
        border-radius: 5px;
        border: none;
        font-family: 'Montserrat';
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        line-height: 37px;
        text-decoration: none;
    }
    .buttons-wrapper .button-add {
        background: #3DBECF;
    }
    .buttons-wrapper .button-add:hover {
        background: #1b9aab;
    }
    .buttons-wrapper .button-remove {
        background: #F11212;
    }
    .buttons-wrapper .button-remove:hover {
        background: #bd0d0d;
    }
    .button-add svg {
        height: 20px;
        margin-right: 4px;
    }
    .button-remove svg {
        height: 20px;
        margin-right: 4px;
        width: 15px;
        border-radius: 0px;
    }
    .table-wrapper {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        margin-top: 36px;
        height: auto;
        width: 100%;
        border-radius: 8px;
        background: #FFFFFF;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        font-family: 'Montserrat';
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
    }
    .table thead {
        background: #3DBECF;
    }
    .table tbody td, .table tbody th {
        font-family: 'Montserrat';
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
    .table tbody th {
        color: rgba(0,0,0,.9);
        font-weight: bolder;
        font-size: 13px;
    }
    .table tbody tr:hover ~ .table tbody th {
        font-size: 15px;
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #ffffff;
    }
    .table-hover tbody tr:hover th {
        font-size: 16px
    }
    .table tbody td a {
        width: 45px;
        border-radius: 7px;
        border: 1px solid #000000;
        font-family: 'Montserrat';
        font-size: 11px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: #383232;
        text-decoration: none;
    }
    .table-wrapper nav {
        height: 42px;
        border-radius: 0px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
        align-content: center;
    }
    .pagination-total i {
        font-family: 'Montserrat';
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        color: #212529;
    }
    .pagination {
        list-style: none;
        display: flex;
        margin-bottom: 0;
    }
    .page-item a {
        width: 84px;
        border-radius: 7px;
        font-family: 'Montserrat';
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        border: 1px solid #212529;
        color: #212529;
    }
    .page-item .num-link {
        width: 25px;
        border-radius: 9px;
    }
    .page-item.active a {
        color: #f01212;
    }
    caption {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0;
    }
}