.modal {
    z-index: 1050 !important;
}

html, body {
    height: 100%;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

/* base */
.base {
    /* position: relative; */
    height: 100%;
    background: #EBF0F0;
    /* display: flex;
    flex-wrap: wrap; */
}

/* login */
@media screen and (min-width: 640px) {
    .form-wrapper {
        position: relative;
        width: 500px;
        height: auto;
        background: #FFFFFF;
        border-radius: 20px;
        margin: auto;
    }
    .label-wrapper {
        height: 34px;
        padding-left: 34px;
        width: 100%;
        margin-top: 30px;
    }
    .label-wrapper h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
    }
    .message-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .message-wrapper .login-message-wrapper {
        position: relative;
        width: 100%;
        height: 40px;
        margin-left: 34px;
        top: 0;
    }
    .message-wrapper .login-message {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 37px;
        color: #000000;
    }
    .message-wrapper .action-message-wrapper {
        width: 100%;
        height: 16px;
        margin-left: 34px;
        display: flex;
    }
    .message-wrapper .action-message {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        color: #000000;
    }
    .login-message span {
        color: #3DBECF;
    }
    .login-form {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .login-form-field {
        display: flex;
        justify-content: center;
    }
    .input0field {
        width: 361px;
        height: 57px;
        background: #F8F8F8;
        border-radius: 30px;
        border: 1px solid #F8F8F8;
    }
    .input0submit {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        width: 119px;
        padding-left: 25px;
        padding-right: 0;
        height: 40px;
        background: #3DBECF;
        border-radius: 40px;
        border: none;
        outline: none;
        text-align: left;
    }
    input[type=text]:focus,
    input[type=text].form-control:focus, 
    input[type=password]:focus,
    input[type=password].form-control:focus{
        box-shadow: none;
        outline: none;
    }
    .submit-button {
        width: 208px;
        padding-left: 69px;
    }
    .submit-button svg {
        position: relative;
        right: 45px;
    }
    .input0submit:hover ~ svg {
        right: 30px;
    }

    /* create product */
    .discount {
        display: none;
    }
    .show {
        display: block;
    }

    /* products */
    .page-wrapper {
        padding: 25px;
    }
    .back {
        height: 32px;
        width: 128px;
        left: 25px;
        top: 120px;
        border-radius: 0px;
    }
    .back span {
        height: 17px;
        width: 36px;
        left: 78px;
        top: 127px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    .back svg {
        position: relative;
        right: 0;
    }
    .page-header {
        height: 62px;
        background: #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
    }
    .page-header .header-text {
        height: 32px;
        width: 181px;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
    }
    .buttons-wrapper button {
        height: 37px;
        width: 121px;
        border-radius: 5px;
        border: none;
        font-family: 'Montserrat';
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        line-height: 35px;
    }
    .buttons-wrapper .button-add {
        background: #3DBECF;
    }
    .buttons-wrapper .button-remove {
        background: #F11212;
    }
    .button-add svg {
        height: 20px;
        margin-right: 4px;
    }
    .button-remove svg {
        height: 20px;
        margin-right: 4px;
        width: 15px;
        border-radius: 0px;
    }
}