{% extends "base.html" %}
{% block content %}
    <div>
        <h3>Brands Page</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <a href="#" 
            data-toggle="modal" 
            data-target="#newBrand"
        >
            <span class="badge badge-warning">Add Brand</span>
        </a>
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for brand in brands %}
                <tr>
                        <td>{{ brand.name }}</td>
                        <td>
                            <i class="fa fa-pen"></i>
                            <i class="fa fa-trash"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" id="newBrand" tabindex="1" role="dialog" aria-labelledby="brandName" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="brandName">{{ title }}</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('auth.addBrand') }}">
                            {{ form.csrf_token }}
                
                            <fieldset class="name">
                                {{ form.name.label }}
                                {{ form.name(placeholder='Nike') }}
                            </fieldset>
                            <div class="submit-button">
                                {{ form.submit }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}