{% extends ""base.html %}
{% block content %}
    <div class="form-wrapper">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        <h1>Create User</h1>

        <form method="POST" action="">
            {{ form.csrf_token }}

            <fieldset class="username">
                {{ form.username.label }}
                {{ form.username(placeholder='John Smith') }}
                {% if form.username.errors %}
                <ul class="errors">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="password">
                {{ form.password.label }}
                {{ form.password }}
                {% if form.password.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="active">
                {{ form.active.label }}
                {{ form.active }}
            </fieldset>
            <fieldset class="label">
                {{ form.role.label }}
                {{ form.role }}
            </fieldset>
            <div class="submit-button">
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}