{% extends 'admin-layout.html' %}
{% block inner %}
    <section class="h-auto newProduct">
        <div class="page-wrapper">
            {% include "back.html" %}
            <div class="page-header">
                <span class="header-text">{{ action }} {{ data_type }}</span>
                <div class="buttons-wrapper">
                    <a id="savePermission" href="" class="button-save" type="button">
                        Save
                    </a>
                </div>
            </div>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="table-wrapper table-form">
                <form id="create_permission" method="POST" action="{{ form_action }}">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <fieldset class="form-group row">
                                {{ form.name.label(class="col-sm-12 col-lg-12 col-form-label") }}
                                <div class="col-sm-12 col-lg-12">
                                    {{ form.name(placeholder='Access Admin Area', class='form-control') }}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock inner %}
{% block inner_scripts %}
    <script>
        // trigger submit button outside form
        $('#savePermission').on('click', function(event) {
            event.preventDefault();
            $('#create_permission').submit();
        });
    </script>
{{super()}}
{% endblock inner_scripts %}