{% extends 'admin-layout.html' %}
{% block inner %}
    <section class="h-auto newProduct">
        <div class="page-wrapper">
            <div class="back">
                <span>
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.469698 5.46967C0.176806 5.76256 0.176806 6.23744 0.469698 6.53033L5.24267 11.3033C5.53556 11.5962 6.01044 11.5962 6.30333 11.3033C6.59622 11.0104 6.59622 10.5355 6.30333 10.2426L2.06069 6L6.30333 1.75736C6.59622 1.46447 6.59622 0.989593 6.30333 0.696699C6.01044 0.403806 5.53556 0.403806 5.24267 0.696699L0.469698 5.46967ZM39.03 5.25L1.00003 5.25V6.75L39.03 6.75V5.25Z" fill="#3DBECF"/>
                    </svg>
                    back
                </span>
            </div>
            <div class="page-header">
                <span class="header-text">New Product</span>
                <div class="buttons-wrapper">
                    <a id="saveProduct" href="" class="button-save" type="button">
                        Save
                    </a>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="table-wrapper table-form">
                <form id="create_product" method="POST" action="{{ url_for('auth.addProduct') }}">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <fieldset class="form-group row">
                                {{ form.name.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    {{ form.name(placeholder='Apple juice', class="form-control") }}
                                </div>
                                {% if form.name.errors %}
                                    <ul class="errors">
                                        {% for error in form.name.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.sku.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    {{ form.sku(class="form-control") }}
                                </div>
                                {% if form.sku.errors %}
                                    <ul class="errors">
                                        {% for error in form.sku.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.gtin.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    {{ form.gtin(class="form-control") }}
                                </div>
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.brandName.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    {{ form.brandName(class="form-control", onkeyup="searchBrands(event)", id="brandName") }}
                                    <select id="brands" class="select-brand" onchange=selectBrand() multiple></select>
                                </div>
                            </fieldset>
                            <fieldset class="">
                                {{ form.brand(id='brandID') }}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.categories.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    {{ form.categories(class="form-control") }}
                                </div>
                                {% if form.categories.errors %}
                                    <ul class="errors">
                                        {% for error in form.categories.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.apply_discount.label(class="col-sm-2 col-lg-3 form-check-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    <div class="form-check">
                                        {{ form.apply_discount(class="form-check-input", id="apply", onclick="openDiscount()") }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <fieldset class="form-group row">
                                {{ form.price.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.price(class="form-control") }}
                                </div>
                                {% if form.price.errors %}
                                    <ul class="errors">
                                        {% for error in form.price.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.old_price.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.old_price(class="form-control") }}
                                </div>
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.cost_of_purchase.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.cost_of_purchase(class="form-control") }}
                                </div>
                                {% if form.cost_of_purchase.errors %}
                                    <ul class="errors">
                                        {% for error in form.cost_of_purchase.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.stock_qty.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.stock_qty(class="form-control") }}
                                </div>
                                {% if form.stock_qty.errors %}
                                    <ul class="errors">
                                        {% for error in form.stock_qty.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.min_stock_qty.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.min_stock_qty(class="form-control") }}
                                </div>
                                {% if form.min_stock_qty.errors %}
                                    <ul class="errors">
                                        {% for error in form.min_stock_qty.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset id="discount" class="discount form-group row">
                                {{ form.discount.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.discount(class="form-control") }}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock inner %}
{% block inner_scripts %}
    <script src="{{ url_for('static', filename= 'js/products.js') }}"></script>
{{super()}}
{% endblock inner_scripts %}