{% extends 'admin-layout.html' %}
{% block inner %}
    <section class="h-auto newProduct">
        <div class="page-wrapper">
            {% include "back.html" %}
            <div class="page-header">
                <span class="header-text">New Product</span>
                <div class="buttons-wrapper">
                    <a id="saveProduct" href="" class="button-save" type="button">
                        Save
                    </a>
                </div>
            </div>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="table-wrapper table-form">
                <form id="create_product" method="POST" action="{{ url_for('auth.addProduct') }}">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <fieldset class="form-group row">
                                {{ form.name.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    {{ form.name(placeholder='Apple juice', class="form-control") }}
                                </div>
                                {% if form.name.errors %}
                                    <ul class="errors">
                                        {% for error in form.name.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.sku.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    {{ form.sku(class="form-control") }}
                                </div>
                                {% if form.sku.errors %}
                                    <ul class="errors">
                                        {% for error in form.sku.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.gtin.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    {{ form.gtin(class="form-control") }}
                                </div>
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.brandName.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    {{ form.brandName(class="form-control", onkeyup="searchBrands(event)", id="brandName") }}
                                    <select id="brands" class="select-brand" onchange=selectBrand() multiple></select>
                                </div>
                            </fieldset>
                            <fieldset class="">
                                {{ form.brand(id='brandID') }}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.categories.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    {{ form.categories(class="form-control") }}
                                </div>
                                {% if form.categories.errors %}
                                    <ul class="errors">
                                        {% for error in form.categories.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.apply_discount.label(class="col-sm-2 col-lg-3 form-check-label") }}
                                <div class="col-sm-10 col-lg-8">
                                    <div class="form-check">
                                        {{ form.apply_discount(class="form-check-input", id="apply_discount", onclick="openDiscount()") }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <fieldset class="form-group row">
                                {{ form.price.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.price(class="form-control") }}
                                </div>
                                {% if form.price.errors %}
                                    <ul class="errors">
                                        {% for error in form.price.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.old_price.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.old_price(class="form-control") }}
                                </div>
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.cost_of_purchase.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.cost_of_purchase(class="form-control") }}
                                </div>
                                {% if form.cost_of_purchase.errors %}
                                    <ul class="errors">
                                        {% for error in form.cost_of_purchase.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.stock_qty.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.stock_qty(class="form-control") }}
                                </div>
                                {% if form.stock_qty.errors %}
                                    <ul class="errors">
                                        {% for error in form.stock_qty.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset class="form-group row">
                                {{ form.min_stock_qty.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.min_stock_qty(class="form-control") }}
                                </div>
                                {% if form.min_stock_qty.errors %}
                                    <ul class="errors">
                                        {% for error in form.min_stock_qty.errors %}
                                        <li>{{ error }}</li>{% endfor %}
                                    </ul>
                                {% endif %}
                            </fieldset>
                            <fieldset id="show_discount" class="discount form-group row">
                                {{ form.discount.label(class="col-sm-2 col-lg-3 col-form-label") }}
                                <div class="col-sm-10 col-lg-7">
                                    {{ form.discount(class="form-control") }}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock inner %}
{% block inner_scripts %}
    <script src="{{ url_for('static', filename= 'js/products.js') }}"></script>
{{super()}}
{% endblock inner_scripts %}