<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        BestDeals
    </a>

    <div class="" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <span id="user"></span>
                    <a class="btn btn-light mr-2 btn-sm" href="{{ url_for('auth.logout') }}">
                        logout
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ url_for('nonAuth.signup') }}" class="navbar-item">
                        Sign Up
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
