{% extends "admin-layout.html" %}
{% block inner %}
    <section class="h-auto">
        <div class="page-wrapper permissions">
            {% include "back.html" %}
            <div class="page-header">
                <span class="header-text">Access Control Lists</span>
                <div class="buttons-wrapper">
                    <a href="{{ url_for('auth.addPermission') }}" class="button-save" type="button">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.506514 5.5132H5.39235V1.14546C5.39235 0.89702 5.62096 0.692657 5.89887 0.692657H7.87001C8.14904 0.692657 8.37653 0.89702 8.37653 1.14546V5.5132H13.2624C13.5414 5.5132 13.7689 5.71756 13.7689 5.966V7.72812C13.7689 7.97656 13.5403 8.18092 13.2624 8.18092H8.37653V12.5487C8.37653 12.7981 8.14792 13.0015 7.87001 13.0015H5.89999C5.62208 13.0015 5.39348 12.7971 5.39348 12.5487V8.18092H0.506514C0.228604 8.18192 0 7.97756 0 7.72812V5.967C0 5.71756 0.228604 5.5132 0.506514 5.5132Z" fill="white"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="15" height="21.5206" fill="white" transform="translate(0 0.692657)"/>
                                </clipPath>
                            </defs>
                        </svg>
                        Add New
                    </a>
                    <a href="" id="saveACL" class="button-later" type="button">
                        Save ACL
                    </a>
                </div>
            </div>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="table-responsive table-wrapper">
                <form id="submitACL" action="{{ url_for('auth.checkPerm') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <table class="table table-hover admin-table">
                        <caption class="sr-only">ACL Lists</caption>
                        <thead>
                            <tr>
                                <th scope="col">Permission Name</th>
                                {% for role in roles %}
                                    <th name="role" value={{role.id}} scope="col">{{ role.title }}</th>
                                {% endfor %}
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for permission in permissions %}
                                <tr>
                                    <th data-label="Permission Name" name="permission" value={{permission.id}} scope="row">{{ permission.name }}</th>
                                    {% for role in roles %}
                                    <td data-label="{{ role.title }}">
                                        <input 
                                            id="task-{{permission.id}}" 
                                            class="check-task-button" 
                                            type="checkbox" 
                                            name="check" 
                                            {% for x in access %}
                                                {% if x == (permission.id, role.id) %} 
                                                CHECKED 
                                                {% endif %}
                                            {% endfor %}
                                            value="{{ permission.id }}-{{ role.id }}"
                                        />
                                    </td>
                                    {% endfor %}
                                    <td>
                                        <a href="{{ url_for('auth.updatePermission', permission_id=permission.id) }}" type="button">edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </section>
{% endblock inner %}
{% block inner_scripts %}
    <script src="{{ url_for('static', filename= 'js/permissions.js') }}"></script>
{{super()}}
{% endblock inner_scripts %}