{% extends "base.html" %}
{% block content %}
    <div>
        <h3>Permissions Page</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <a href="#" 
            data-toggle="modal" 
            data-target="#newPermission"
        >
            <span class="badge badge-warning">New Permission</span>
        </a>
        <div class="table-container">
            <form action="{{ url_for('nonAuth.checkPerm') }}" method="POST">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Permission Name</th>
                            {% for role in roles %}
                                <th name="role" value={{role.id}} scope="col">{{ role.title }}</th>
                            {% endfor%}
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for permission in permissions %}
                            <tr>
                                <th name="permission" value={{permission.id}} scope="row">{{ permission.name }}</th>
                                {% for role in roles %}
                                <td>
                                    <!-- <form action="{{ url_for('nonAuth.checkPerm', permID=permission.id, roleID=role.id) }}" method="post"> -->
                                        <input 
                                            id="task-{{permission.id}}" 
                                            class="check-task-button" 
                                            type="checkbox" 
                                            name="check" 
                                            {% for x in access %}
                                                {% if x == (permission.id, role.id) %} 
                                                CHECKED 
                                                {% endif %}
                                            {% endfor %}
                                            value="{{ permission.id }}-{{ role.id }}"
                                        />
                                    <!-- </form> -->
                                </td>
                                {% endfor %}
                                <td>
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash"></i>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="button is-block is-info is-large is-fullwidth">Save</button>
            </form>
        </div>

        <div class="modal fade" id="newPermission" tabindex="1" role="dialog" aria-labelledby="userPermission" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="userPermission">{{ title }}</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('nonAuth.createPermission') }}">
                            {{ form.csrf_token }}
                
                            <fieldset class="name">
                                {{ form.name.label }}
                                {{ form.name(placeholder='Access Admin Area') }}
                            </fieldset>
                            <div class="submit-button">
                                {{ form.submit }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}