{% extends "base.html" %}
{% block content %}
    <div>
        <h3>Roles Page</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <a href="#" 
            data-toggle="modal" 
            data-target="#newRole"
        >
            <span class="badge badge-warning">New Role</span>
        </a>
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for role in roles %}
                        <td>{{ role.title }}</td>
                        <td>
                            <i class="fa fa-pen"></i>
                            <i class="fa fa-trash"></i>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="newRole" tabindex="1" role="dialog" aria-labelledby="userRole" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="userRole">{{ title }}</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('nonAuth.createRole') }}">
                            {{ form.csrf_token }}
                
                            <fieldset class="title">
                                {{ form.title.label }}
                                {{ form.title(placeholder='Cashier') }}
                            </fieldset>
                            <div class="submit-button">
                                {{ form.submit }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}