<div class="sidebar__navbar">
    <span id="close-menu"></span>
    <div class="px-3 position-relative">
        <nav class="navbar">
            <a href="#!" class="brand__sidebar position-relative">BestDeals</a>
        </nav>

        <ul class="sidebar__list--menu mt-5">
            <li><a href="#!" class="active">Shop Dashboard</a></li>
            <li><a href="#!">Inventory</a></li>
            <li><a href="#!">Settings</a></li>
            <li><a href="#!">Reports</a></li>
        </ul>
    </div>
</div>