<div class="sidebar__navbar">
    <span id="close-menu"></span>
    <div class="px-3 position-relative">
        <nav class="navbar">
            <a href="#!" class="brand__sidebar position-relative">BestDeals</a>
        </nav>

        <ul class="sidebar__list--menu mt-5">
            <li><a href="#!" class="active"><i class="fa fa-cube mr-2" aria-hidden="true"></i>My Dashboard</a></li>
            <li><a href="#!"><i class="fa fa-video-camera mr-2" aria-hidden="true"></i>My Tutorial</a></li>
            <li><a href="#!"><i class="fa fa-list mr-2" aria-hidden="true"></i>Member</a></li>
            <li><a href="#!"><i class="fa fa-houzz mr-2" aria-hidden="true"></i>History</a></li>
        </ul>
    </div>
</div>